---
---

<!DOCTYPE html>
<!--
                                                                                                                                                                                                                                                                    
                                                                                                                        dddddddd            dddddddd                                                                                                                
        GGGGGGGGGGGGG                                 hhhhhhh                  DDDDDDDDDDDDD          iiii              d::::::d            d::::::dlllllll                              DDDDDDDDDDDDD                                                              
     GGG::::::::::::G                                 h:::::h                  D::::::::::::DDD      i::::i             d::::::d            d::::::dl:::::l                              D::::::::::::DDD                                                           
   GG:::::::::::::::G                                 h:::::h                  D:::::::::::::::DD     iiii              d::::::d            d::::::dl:::::l                              D:::::::::::::::DD                                                         
  G:::::GGGGGGGG::::G                                 h:::::h                  DDD:::::DDDDD:::::D                      d:::::d             d:::::d l:::::l                              DDD:::::DDDDD:::::D                                                        
 G:::::G       GGGGGG   ooooooooooo       ssssssssss   h::::h hhhhh              D:::::D    D:::::D iiiiiii     ddddddddd:::::d     ddddddddd:::::d  l::::lyyyyyyy           yyyyyyy       D:::::D    D:::::D  aaaaaaaaaaaaa  rrrrr   rrrrrrrrr   nnnn  nnnnnnnn    
G:::::G               oo:::::::::::oo   ss::::::::::s  h::::hh:::::hhh           D:::::D     D:::::Di:::::i   dd::::::::::::::d   dd::::::::::::::d  l::::l y:::::y         y:::::y        D:::::D     D:::::D a::::::::::::a r::::rrr:::::::::r  n:::nn::::::::nn  
G:::::G              o:::::::::::::::oss:::::::::::::s h::::::::::::::hh         D:::::D     D:::::D i::::i  d::::::::::::::::d  d::::::::::::::::d  l::::l  y:::::y       y:::::y         D:::::D     D:::::D aaaaaaaaa:::::ar:::::::::::::::::r n::::::::::::::nn 
G:::::G    GGGGGGGGGGo:::::ooooo:::::os::::::ssss:::::sh:::::::hhh::::::h        D:::::D     D:::::D i::::i d:::::::ddddd:::::d d:::::::ddddd:::::d  l::::l   y:::::y     y:::::y          D:::::D     D:::::D          a::::arr::::::rrrrr::::::rnn:::::::::::::::n
G:::::G    G::::::::Go::::o     o::::o s:::::s  ssssss h::::::h   h::::::h       D:::::D     D:::::D i::::i d::::::d    d:::::d d::::::d    d:::::d  l::::l    y:::::y   y:::::y           D:::::D     D:::::D   aaaaaaa:::::a r:::::r     r:::::r  n:::::nnnn:::::n
G:::::G    GGGGG::::Go::::o     o::::o   s::::::s      h:::::h     h:::::h       D:::::D     D:::::D i::::i d:::::d     d:::::d d:::::d     d:::::d  l::::l     y:::::y y:::::y            D:::::D     D:::::D aa::::::::::::a r:::::r     rrrrrrr  n::::n    n::::n
G:::::G        G::::Go::::o     o::::o      s::::::s   h:::::h     h:::::h       D:::::D     D:::::D i::::i d:::::d     d:::::d d:::::d     d:::::d  l::::l      y:::::y:::::y             D:::::D     D:::::Da::::aaaa::::::a r:::::r              n::::n    n::::n
 G:::::G       G::::Go::::o     o::::ossssss   s:::::s h:::::h     h:::::h       D:::::D    D:::::D  i::::i d:::::d     d:::::d d:::::d     d:::::d  l::::l       y:::::::::y              D:::::D    D:::::Da::::a    a:::::a r:::::r              n::::n    n::::n
  G:::::GGGGGGGG::::Go:::::ooooo:::::os:::::ssss::::::sh:::::h     h:::::h     DDD:::::DDDDD:::::D  i::::::id::::::ddddd::::::ddd::::::ddddd::::::ddl::::::l       y:::::::y             DDD:::::DDDDD:::::D a::::a    a:::::a r:::::r              n::::n    n::::n
   GG:::::::::::::::Go:::::::::::::::os::::::::::::::s h:::::h     h:::::h     D:::::::::::::::DD   i::::::i d:::::::::::::::::d d:::::::::::::::::dl::::::l        y:::::y              D:::::::::::::::DD  a:::::aaaa::::::a r:::::r              n::::n    n::::n
     GGG::::::GGG:::G oo:::::::::::oo  s:::::::::::ss  h:::::h     h:::::h     D::::::::::::DDD     i::::::i  d:::::::::ddd::::d  d:::::::::ddd::::dl::::::l       y:::::y               D::::::::::::DDD     a::::::::::aa:::ar:::::r              n::::n    n::::n
        GGGGGG   GGGG   ooooooooooo     sssssssssss    hhhhhhh     hhhhhhh     DDDDDDDDDDDDD        iiiiiiii   ddddddddd   ddddd   ddddddddd   dddddllllllll      y:::::y                DDDDDDDDDDDDD         aaaaaaaaaa  aaaarrrrrrr              nnnnnn    nnnnnn
                                                                                                                                                                 y:::::y                                                                                            
                               Big boye that's a heck of a website you got there                                                                                y:::::y                                                                                             
                                                                                                                                                               y:::::y                                                                                              
                                                                                                                                                              y:::::y                                                                                               
                                                                                                                                                             yyyyyyy                                                                                                
                                                                                                                                                                                                                                                                    
                                                                                                                                                                                                                                                                    

-->

<html class="">
<head>
  <meta charset="UTF-8">
  <meta name="apple-mobile-web-app-capable" content="yes">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta name="description" content="{{ site.data.settings.seo.description }}">
  <meta rel="author" href="{{ site.data.settings.seo.rel-author }}">
  <meta rel="publisher" href="{{ site.data.settings.seo.rel-publisher }}">

  <title>
    {% if page.title == "Home" %}
      {{ site.title }}
    {% else %}
      {{ page.title }} | {{ site.title }}
    {% endif %}
  </title>

  <link rel="stylesheet" href="{{ site.github.url }}/assets/css/all.css">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
  <link href="https://fonts.googleapis.com/css?family=Roboto" rel="stylesheet">
  <!--[if lt IE 9]><script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script><![endif]-->

  <!-- Use Atom -->
  {% feed_meta %}

  <script type="text/javascript" async
    src="https://cdn.mathjax.org/mathjax/latest/MathJax.js?config=TeX-MML-AM_CHTML">
  </script>

  {% include analytics.html %}

  <!-- Use Jekyll SEO plugin -->
  {% seo %}

</head>
<body>

<div class="site-container">

  {% include header.html %}

  {{ content }}

</div>

<script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>
<script src="{{ site.github.url }}/assets/js/functions.js"></script>
</body>
</html>
